body {
  background-color: lightblue !important; /* no one can override it! use it carefully */
  background-image: url('flower.jpg');
  background-repeat: repeat-x; /* by default both vertical and horizantol */
  background-position: right top;
  background-attachment: fixed;
  background: #fff url('flower.jpg') no-repeat right top; /* shorthand property */
}

p {
  border-style: groove; /* ridge, inset, outset, none, hidden */
  border-style: dotted dashed solid double;
  /* other border properties has effect if border-style is set */
  border-width: 5px;
  border-width: medium;
  border-width: 2px 10px;
  border-color: red;
  border: 5px solid red;
  border-bottom: 2px solid green;
  border-radius: 5px 4px 2px 3px;
}

h1 {
  margin: 30px auto; /* center */
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 40px;
  margin: 10px 20px 30px 40px;

  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
  padding: 10px 20px 30px 40px;
}

div {
  height: 200px;
  width: 50%;
  max-width: 500px;
}

.inline {
  display: inline-block;
}

.text {
  color: blue;
  text-align: center left right justify;
  text-decoration: none overline line-through underline;
  text-transform: uppercase lowercase capitalize none;
  text-indent: 50px;
  letter-spacing: 3px -3px;
  line-height: 0.8;
  direction: rtl;
  word-spacing: 10px -5px;
  text-shadow: 3px 2px red;
}

.font {
  font-family: "Times New Roman", Times, serif;
  font-style: normal italic oblique;
  font-size: 40px; /* absulate size, em is relative */
  font-size: 2.5em; /* em is recommended: 40px/16=2.5m */
  font-size: 50px; /* inheritance percentage */
  font-weight: normal bold lighter bolder;
}

/* Pseudo Selectors/Classes: targeting more specific things
 * Dynamic: user action: hover
 * Structural: parent-child relations: 5th li
 *
 * selector:keyword {declaration}
 * */

a:hover {
  color: red;
}

a:active {
  color: orange;
}

a:visited {
  color: yellow;
}

article p:first-child {
  font-weight: bold;
}

article p:last-child {
  color: red;
}

article p:first-of-type {} /* :last-of-type */

li:nth-child(1) {}

li:nth-child(even) {}

article:nth-of-type(1) {}

/* universal selector: * {} */
