// mixins: definition

@mixin banner {
  width: 100%;
  position: relative;
  color: white;
  .banner-content {
    position: absolute;
    top: 50px;
    width: 100%;
  }
  img {
    width: 100%;
  }
  span {
   font-size: $bannerHeading;
   display: block;
   text-transform: uppercase;
   font-weight: bold;
  }
  span.title {
   font-weight: normal;
   margin-bottom: 30px;
  }
}

@mixin clearFix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

// passing values into mixins
@mixin grid($cols, $margin) {
  float: left;
  margin-right: $margin;
  margin-bottom: $margin;
  width: ( (100% - (($cols - 1) * $margin)) / $cols );
  &:nth-child(#{$cols}n) {
    margin-right: 0;
  }
}
