
// variables
// nesting styles
// mixin
// @import
// pseudo classes
// math operators (100% / 3)
// color functions
// @content
// if statements

@import 'reset';
@import 'variables';
@import 'mixins';


#main-nav {
  background-color: $deepBlue;
  ul {
   width: 100%;
   @include clearFix;
  }
  li {
    float: left;
    width: (100% / 6);
  }
  a {
    color: $offWhite;
    text-decoration: none;
    padding: 16px;
    display: block;
    text-align: center;
    &:hover {
      background: lighten($deepBlue, 5); // color function
    }
  }
}

/* Pseudo Classes
#main-nav ul:after {
  content: "";
  display: block;
  clear: both;
}

// normal css
#main-nav a:hover {
  background: gray;
} */

section h1 {
  font-size: $sectionHeading;
  color: $deepBlue;
}

.lead-banner {
  @include banner;
  text-align: right;
}

.lessons-banner {
  @include banner;
  li {
    text-transform: uppercase;
    font-size: 20px;
    max-width: 500px;
    margin: 60px 0;
  }
}

#services {
  margin-bottom: 60px;
  li {
    float: left;
    box-sizing: border-box;
    text-align: center;
    width: (100% / 3);
  }
  img {
    width: 60%;
    margin: 20px 20%;
  }
  a {
    text-decoration: none;
    color: $deepBlue;
    font-weight: bold;
    &:hover {
      color: complement($deepBlue);
    }
  }
  ul {
    @include clearFix;
  }
}

#projects li {
  @include grid(4, 2%);
  img {
    width: 100%;
  }

}
